* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Utilities */
  .py-1 { padding: 3rem 0; }
  .py-2 { padding: 2rem 0; }
  .bg-light {
    background: #f4f4f4;
    color: #08415c;
  }
  .bg-light-2 {
    background: #c2c2c2;
    color: #08415c;
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    color: #08415c;
  }
  @media (max-width: 500px) 
  {
  
    .title {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
    }
  }
  .subtitle {
    text-decoration: none;
    color: #4e4e4e;
    text-align: center;
  }
   /*body  */

body {
  background-color: #fff;
  color: #232121;
  font-family:sans-serif;
}


a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}


/* Header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 997;
  }
   .header .logo  {
    display: block;
    float: left;
    font-size: 1.7em;
    padding: 8px 60px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
   
  
  }
  .header .logo a {
    color: #08415c;
    text-decoration: none;
    
    
  }
  
  .header .logo img {
   max-height:30px;

  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    
    
  }
  
  .header li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
  }
  

 
  
  /* navbar */
  
  .header .navbar {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* navbar icon */
  
  .header .navbar-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header  .navbar-icon .navicon {
    background: #08415c;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .navbar-icon .navicon:before,
  .header .navbar-icon .navicon:after {
    background: #08415c;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .navbar-icon .navicon:before {
    top: 5px;
  }
  
  .header .navbar-icon .navicon:after {
    top: -5px;
  }
  
  /* navbar btn */
  
  .header .navbar-btn {
    display: none;
  }
  
  .header .navbar-btn:checked ~ .navbar {
    max-height: 300px;
  }
  
  .header .navbar-btn:checked ~ .navbar-icon .navicon {
    background: transparent;
  }
  
  .header .navbar-btn:checked ~ .navbar-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .navbar-btn:checked ~ .navbar-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .navbar-btn:checked ~ .navbar-icon:not(.steps) .navicon:before,
  .header .navbar-btn:checked ~ .navbar-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
   
/* Desktop section */
@media (min-width: 810px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  } 
   .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover  {
      color: #08415c;
    
  }
  .header .navbar {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .navbar-icon {
    display: none;
  }
}

.navbar .btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 50px;
 margin-top: 15px;
 margin-right: 80px;
  
  color: #fff;
  background: #08415c;
}
.navbar .btn:hover {
  background: #02293b;
  color: #fff;
}

  /* Mobile  */

  @media (max-width: 880px)  
{
  .header .logo {
    display: block;
    float: left;
    font-size: 1.8em;
    padding: 10px 7px;
    text-decoration: none;
    
  }
  .header .logo img {
    max-height:25px;
 
   }
  .header li a {
    display: block;
    padding: 15px 15px;
    margin-left: 10px;
    text-decoration: none;
  }

  
  .navbar .btn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #fff;
    background: #08415c;
  }
  .navbar .btn:hover {
    background: #02293b;
    color: #fff;
  }
 
} 
 /* Navbar end */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero 
{
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-3.jpg") no-repeat center center/cover;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.801);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero .hero-container {
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  margin: 0 10px;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-align: center;
}
#hero p {
  color: #fff;
  margin-top:15px;
  font-size: 20px;
  text-align: center;
 
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 38px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .btn-scroll i {
    font-size: 28px;
    padding: 0 120px;
    justify-items: center;
  }
}
@media (max-width: 468px) {
  #hero h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  #hero p {
    font-size: 14px;
    text-align: center;
  }
  #hero p span {
    font-size: 14px;
  }
  #hero .btn-scroll i {
    font-size: 28px;
    padding: 0 130px;
    justify-items: center;
  }
}
/* hero end */

/* About */

 .about {
  background:#08415c;
  color: #fff;

  
}

.about .title 
{
  font-size: 30px;
  text-transform: none;
  margin-top: 0px;
  color: #fff;
  padding: 20px 10px;
 
}  

.about-img 
{
  width: 100%;
height: 80vh;
background: url("../img/learnstep.jpg") no-repeat center center/cover;
background-size: cover;
opacity: 0.9;
}


.about .about-img p
{
  color: #ebeaea;
 text-align: center;
  font-size: 25px;
  padding: 4rem 5rem;

  } 
  @media (max-width: 768px) 
{
  .about .about-img p
{
  color: #e5e1e1;
text-align: center;
  font-size: 16px;
  padding: 1.5rem 1.5rem;
  } 
}

/* About end */

/* services */
.services{
  background:#f8e5e5;
  padding:2rem 3rem;
  

}

.services .heading{
  text-align: center;
  padding-bottom: 15px;
  color:#fff;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 50px;
}

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap:15px;
  margin-top: 50px;
  margin: 50px;
  margin-bottom: 80px;

}
@media (max-width:768px) {
  .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:15px;
    margin-top: 50px;
    margin: 50px;
    justify-content: center;
  }
  
}
.services .box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 3px;
  background: #fff;
  text-align: center;
  padding:30px 20px;
}

.services .box-container .box img{
  height: 50px;
}

.services .box-container .box h3{
  color:#08415c;
  font-size: 22px;
  padding:10px 0;
}

.services .box-container .box p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}




.services .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.178);
  transform: scale(1.01);
}

@media (max-width:768px){
  .services{
      padding:20px;
  }
}
/* services end */
/* Testimonial */
.testimonial{
  background:#ebebeb;
  padding:2rem 3rem;
  

}

.testimonial .heading{
  text-align: center;
  padding-bottom: 15px;
  color:#fff;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 50px;
}

.testimonial .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap:15px;
  margin-top: 50px;
  margin: 50px;
}
@media (max-width:768px) {
  .testimonial .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:15px;
    margin-top: 50px;
    margin: 50px;
    justify-content: center;
  }
}
.testimonial .box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 3px;
  background: #fff;
  text-align: center;
  padding:30px 20px;
}

.testimonial .box-container .box img{  height: 50 ;
  border-radius: 50px;
}

.testimonial .box-container .box h3{
  color:#08415c;
  font-size: 22px;
  padding:10px 0;
}

.testimonial .box-container .box p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}


.testimonial .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.178);
  transform: scale(1.01);
}

@media (max-width:768px){
  .testimonial{
      padding:20px;
  }
}

/* Tesstsimonial end */

/* Section: team */
#team .items {
  display: flex;
  padding: 20px 120px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#team .items h3 
{
  color: #08415c;
} 
 
#team .items p 
{
  font-size: 14px;
}
#team .items .item {
  flex: 1;
  text-align: center;
 padding: 1;
}
#team .items .item .img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-size: cover;
}  
@media (max-width:758px) { 
#team .items .item {
  display: flex;
  justify-content:center ;
  margin: 50px;
}
#team .items {
  display: block;
  padding: 1rem;
}
}

/* Team end */


/* course style*/

.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}
.c-title {
  color: #08415c;
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  
}

.c-subtitle {
  color: #c5b4b4;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.plus-container {
  background-color: transparent;
  padding: 5px;
  border: 2px solid white;
}

.plus-icon {
  width: 60px;
  height: 60px;
  background-color: #d9d9d9;
  position: relative;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
}

.plus-icon:before,
.plus-icon:after {
  content: "";
  position: absolute;
  background-color: black;
}

.plus-icon:before {
  width: 70%;
  height: 4px;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

.plus-icon:after {
  width: 4px;
  height: 70%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 400px);
  row-gap: 50px;
  column-gap: 100px;
  padding: 20px;
}

.course {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.course::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: 20;
}

.course-title {
  font-size: 60px;
  margin-bottom: 10px;
  z-index: 30;
  font-weight: bold;
}

.course-description {
  font-size: 30px;
  margin-bottom: 20px;
  color: #c5b4b4;
  z-index: 30;
  font-weight: bold;
  width: 70%;
  text-align: center;
}

.course:nth-child(1) {
  background-image: url("../img/mathematics.jpg");
}

.course:nth-child(2) {
  background-image: url("../img/architecture.jpg");
}

.course:nth-child(3) {
  background-image: url("../img/coding.jpg");
}

.course:nth-child(4) {
  background-image: url("../img/pyscology.jpg");
}

.course:nth-child(5) {
  background-image: url("../img/history.jpg");
}

.course:nth-child(6) {
  background-image: url("../img/biochemistry.jpg");
}



/* Login */

.login-container{
  display: flex;
  background-color: whitesmoke;

}
.image img{
  width: 650px; 
  height: 580px;
  
}
.info h1 
{
  text-align:center; 
  margin-left: 25px;
  margin-top: 80px; 
  color: #08415c;
}
.login{
   margin-left: 10px;
   margin-top: 30px;

}
.login h4 
{
  margin-left: 80px; 
  font-size: 18px;
  color: #093e60;
}
.login input{
  padding: 13px;
  margin: 10px;
  width: 400px;
  border-radius: 20px;
border-color: #093e60;
  margin-left: 80px;
}


.signin{
  padding: 10px 30px;
  font-size: 18px;
  width: 400px;

  font-weight: bold;
  margin-top: 30px;
  background-color: #093e60;
  color: white;
  border-radius: 20px;
  border-style: none;
  margin-left: 90px;
  text-align: center;
}

.no-account
{
  margin-left: 95px; 
  font-size: 18px;
  color: #08415c;
}
.signup{
  padding: 3px 6px;
  border-radius: 20px;
  border-color: transparent;
  background-color: #97670e;
  color: white;
  margin-top: 40px;
  margin-left: 0px;
  font-size: 16px;

}



.line{
  display: flex;
  color: #08415c;
}
.hr1
{
  color: #f6a400;
}

.icons{
  display: flex;
  margin-left: 250px;
  margin-top: 15px;
  
}
.icons .google img
{
  height: 20px;
  margin-left: 10px;
}
.icons .apple 
{
  margin-left: 0px;

}





/* Footer */
#main-footer {
  background: #333;
  color: #fff;

}

#main-footer .name a
{
  font-size: 24px;
  color: #59b1da;
  margin-bottom: 20px;
  font-weight: bold;
}
#main-footer p 
{
line-height: 1.5rem;
}
#main-footer  h3,h2
{
  font-size: 20px;
  color: #3bb2e9;
}
#main-footer .list
{
margin-left: 20px;
  justify-content: center;
}
#main-footer a {
  color: #fff;
  line-height: 1.5rem;
}
#main-footer a:hover {
  color: #fff;
}


#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin: 20px;
}

#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: .5rem;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 40px;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}

  /* footer */
  @media(max-width: 768px) { 
    #main-footer {
      background: #333;
      color: #fff;
    }
    /* Stack Grid Items */

    #main-footer .footer-container {
      grid-template-columns: 1fr;
    
    }
  
    #main-footer .footer-container> *:last-child {
      grid-column: 1;
    }
}
   


  /* Footer btn */
.btn1{
  margin-top: 1rem;
  padding:0.3rem 1rem;
  font-size: 1.rem;
  color:#fff;
  background:#08415c;
  border-radius: .5rem;
  border: none;
}

.btn1:hover{
  background:#6c6b6bee;
  color: #fff;
}
/* Footer end */